.background-color-dark {
    background-color: #2c3e50;
}

.icon-white {
    color: #fff;
}

.nav-align {
    padding: 10px;
}

.text-dark {
    color: #333;
}

.text-light {
    color: #eaeaea;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/economy.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
    margin-top: 62px; /* Adjust for fixed navbar height */
}

.intro {
    padding-top: 40px;
    padding-bottom: 10px;
}

.list {
    padding-left: 40px;
}