.background-color-dark {
    background-color: #2c3e50;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/economy.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
}

body {
    margin-top: 64px; /* Adjust for fixed navbar height */
}

.card-image {
    overflow: hidden;
}

.card-image img {
    height: 200px;
    object-fit: cover;
}

.card-indicators {
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-uses {
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-uses:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event {
    /*  background-color: #fff; */
    /* border: #000 solid 2px; */
    margin: 30px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.event:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-container{
    display: grid;
    grid-template-columns: 6fr 1fr 0.5fr 1fr 6fr;
}

.factors-border {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.factors-border:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.gdp-image {
    max-height: 600px;
    border-radius: 8px;
}

.hover-underline-animation {
    position: relative;
    display: inline-block;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.icon-white {
    color: #fff;
}

.intro {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list {
    padding-left: 40px;
}

.logo {
    width: auto;
    height: 60px;
}

.nav-align {
    padding: 10px;
}

.navbar-toggler {
    min-height: 64px;
    border: none;
    transition: background-color 0.3s;
    border-radius: 0;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    background-color: #1a252f !important;
}

.nbMenuItem {
    background-color: #2c3e50;
    transition: background-color 0.3s;
    padding: 20px 20px;
    width: 100%;
}

.nbMenuItem:hover {
    background-color: #1a252f;
}

.text-dark {
    color: #333;
}

.text-img {
    height: auto;
    border-radius: 8px;
}

.text-light {
    color: #eaeaea;
}

.timeline-connector {
    width: 80%;
    height: 6px;
    background-color: #6fa8dc;
    margin-top: auto;
    margin-bottom: auto;
}

.timeline-connector.left {
    margin-left: auto;
}

.timeline-connector.right{
    margin-right: auto;
}

.timeline-point { /* makes the circles */
    position: static;
    margin: auto auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6fa8dc;
    border: 3px solid #fff;
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-point:hover {
    transform: scale(1.2);
}

.vertical-timeline {
    position: absolute;
    margin: 0 auto;
    top: 700px;
    padding: 20px 0;
    width: 6px;
    height: 800px;
    background-color: #6fa8dc;
    bottom: 0;
    left: calc(50% - 3px);
}

@media only screen and (max-width: 768px) {
    .hover-underline-animation::after {
        width: 2px;
        height: 100%;
        transform-origin: left center;
        transform: scaleY(0);
    }

    .hover-underline-animation:hover::after {
        transform: scaleY(1);
    }
}